src/main/mule/poc_autodiscoveryproj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ff2fad0c-a55a-4048-a727-c13d832328cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="poc_autodiscoveryprojFlow" doc:id="5765e6c7-a16b-4bb9-8949-d4b86201795a" >
		<http:listener doc:name="Listener" doc:id="7c228eed-8ab3-47c7-bf7f-e28f4ed9ed3d" config-ref="HTTP_Listener_config" path="/auto"/>
		<logger level="INFO" doc:name="Logger" doc:id="85edbbcc-d08a-409b-8bf5-8a4dd8076d5c" message="new logger for demo porpose"/>
		<ee:transform doc:name="Transform Message" doc:id="5c9289de-d969-4960-93ce-27fde314fb4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3617b3c9-48a2-4b57-9b7b-0257c04aff54" />
		<logger level="INFO" doc:name="Logger" doc:id="deb06f39-fcb8-4fd5-a89b-e8e6ec154cda" />
	</flow>
</mule>
